node_modules
venv
.env~

gemini-code-1788082001269.json

cinema-backend/src/app.module.ts
cinema-backend/src/modules/cinemas
cinema-backend/src/modules/bookings

cinema-backend/src/modules/showtimes



.txt
dist