node_modules
venv
.env~

gemini-code-1788082001269.json

cinema-backend/src/modules/users
cinema-backend/src/modules/genres
cinema-backend/src/modules/rbac
cinema-backend/src/app.module.ts
cinema-backend/src/modules/cinemas

cinema-backend/src/modules/upload


cinema-backend/src/common/redis/

cinema-backend/src/database/

.txt
dist