# Cấu hình Máy chủ & Port Ứng dụng
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1

# Cấu hình Kết nối PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=cinema_admin
DB_PASSWORD=cinema_password
DB_NAME=cinema_db

# Cấu hình JWT
JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_SECRET=change-me
JWT_REFRESH_EXPIRES=7d

# Cấu hình Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Cấu hình Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
